$borderColor: rgb(169, 169, 169);
$labelHeight: 22px;
$inputMarginTop: 5px;
$editBackground: #F1F1F1;

#post-edit {
	@include stretch-height;
	font-family: 'Open Sans', 'Sans Serif';

	#content {
		padding: 0;
		flex-direction: column;
		background: $editBackground;
	}

	.edit-header {
		background: black;
		color: white;
		padding: 10px 20px;
		text-transform: uppercase;
		width: 100%;

		header {
			font-weight: bold;
		}

		form {
			float: right;
		}

		button {
			@include not-button;
		}
	}

	.nav-site {
		text-transform: uppercase;
		width: 200px;
		background: black;
		color: white;
		display: flex;
		flex-direction: column;
		font-weight: bold;

		a {
			display: block;
			margin: 10px;
		}
	}

	.columns {
		display: flex;
		flex: 1;

		& > div {
			padding: 10px 20px;
		}
	}

	.text-col {
		flex: 1;

		label {
			font-weight: bold;
			height: $labelHeight;
		}

		input, textarea {
			display: block;
			width: 100%;
			margin-top: $inputMarginTop;
			margin-bottom: 20px;
			font-family: inherit;
			font-size: inherit;
			padding: 8px;
			box-sizing: border-box;
		}

		input {
			min-height: 20px;
		}
	}

	#list_body {
		min-height: 200px;
	}

	#body {
		min-height: 500px;
	}

	.publish-col {
		width: 300px;
	}

	.publish-box {
		margin-top: $labelHeight + $inputMarginTop;
		border: 1px solid $borderColor;
		background: white;
		text-transform: uppercase;

		& > div, header {
			padding: 10px 20px;

			input, div {
				margin-top: 15px;
			}
		}

		header {
			border-bottom: 1px solid $borderColor;
			font-weight: bold;
		}

		button {
			display: block;
			background: $editBackground;
			outline: none;
			border: 1px solid $borderColor;
			border-radius: 5px;
			text-transform: inherit;
			padding: 8px 12px;
			cursor: pointer;

			&:first-child {
				float: right;
			}

			&.delete-draft-btn {
				margin-top: 5px;
				float: none;
			}
		}

		.save {
			border-top: 1px solid $borderColor;
			background: $editBackground;

			.save-btn {
				background: blue;
				color: white;
			}
		}
	}

	#enable-slug-edit {
		float: right;

		* {
			vertical-align: middle;
		}

		input {
			width: 15px;
			margin: 0 10px;
			display: inline-block;
		}
	}
}
